body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.overlay {
    position: absolute;
}


#previewWindow{
	  padding: 0px 0px;
  text-align: left;
      position: relative;
    border: 1px solid black;
    width: 324px;
    height: 324px;
}

.selectors{
	 padding: 10px 10px;
	 text-align: right;
}

#content{
  margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#project_row_left{
  max-width:600px;
  min-width: 300px;
  margin: 0px auto;
  align: center;
  float: left;
}

#project_row_right{
  max-width:600px; 
  min-width: 300px;
  margin: 0px auto;
  align: center;
  float: right;

}

.project_window{
  height: 250px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 0px;
}

#imgBlurred{
	filter: blur(200px);
}